
@{
    ViewBag.Title = "Historique";
    Layout = "~/Views/Shared/_LayoutPageDashboard2.cshtml";
}




<!--[ Recent Users ] start-->
<div class="col-xl-12 col-md-12">
    <div class="card Recent-Users">
        <div class="card-header">
            <h5>Historique des produits</h5>
        </div>
        <div class="card-block px-0 py-3">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr class="unread">
                            <td>  #  </td>
                            <td>
                                <h6 class="mb-1"> Produit </h6>

                            </td>
                            <td>
                                <h6 class="text-muted">  Operation </h6>
                            </td>
                            <td>
                                <h6 class="text-muted"> Date d'operation </h6>
                            </td>
                            <td>Action </td>
                        </tr>

                    </thead>
                    <tbody>
                        <tr class="unread">
                            <td><img class="rounded-circle" style="width:40px;" src="@Url.Content("~/Content/assets/images/user/avatar-1.jpg")" alt="activity-user"></td>
                            <td>
                                <h6 class="mb-1">Produit N:45</h6>
                                <p class="m-0">Lorem Ipsum is simply…</p>
                            </td>
                            <td>
                                <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>Supprimer </h6>
                            </td>
                            <td>
                                <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>11 MAY 12:56</h6>
                            </td>
                            <td><a href="#!" class="label theme-bg2 text-white f-12">Retirer</a></td>
                        </tr>
                        <tr class="unread">
                            <td><img class="rounded-circle" style="width:40px;" src="@Url.Content("~/Content/assets/images/user/avatar-1.jpg")" alt="activity-user"></td>
                            <td>
                                <h6 class="mb-1">Produit N:45</h6>
                                <p class="m-0">Lorem Ipsum is simply…</p>
                            </td>
                            <td>
                                <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i> Ajouter </h6>
                            </td>
                            <td>
                                <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>11 MAY 12:56</h6>
                            </td>
                            <td><a href="#!" class="label theme-bg2 text-white f-12">Retirer</a></td>
                        </tr>

                        <tr class="unread">
                            <td><img class="rounded-circle" style="width:40px;" src="@Url.Content("~/Content/assets/images/user/avatar-1.jpg")" alt="activity-user"></td>
                            <td>
                                <h6 class="mb-1">Produit N:45</h6>
                                <p class="m-0">Lorem Ipsum is simply…</p>
                            </td>
                            <td>
                                <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i> Editer </h6>
                            </td>
                            <td>
                                <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>11 MAY 12:56</h6>
                            </td>
                            <td><a href="#!" class="label theme-bg2 text-white f-12">Retirer</a></td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--[ Recent Users ] end-->
